<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= "Hello World".toUpperCase() %></h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate ipsam
      minus necessitatibus unde incidunt fugit vel? Quas nulla inventore commodi
      repudiandae, accusamus, assumenda odit cumque repellendus quasi a
      consequuntur aut.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima obcaecati
      aliquid tempore quam cum totam placeat natus fugit harum. Deserunt, ipsum.
      Architecto quasi voluptate deleniti, perferendis eveniet corrupti error
      eius?
    </p>
  </body>
</html>
